<h4>Collection Highlights</h4>
<br>
<div class="card mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="/items/cnr003.html" target="_blank">University of Idaho: College of Forestry, Wildlife and Range Sciences, 1909-1984, an Album</a></h5>
          <a class="btn btn-primary" href="/items/cnr003.html" role="button">View Album &raquo;</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><a href="/items/cnr063.html" target="_blank">College of Forestry, Wildlife, and Range Sciences Promo Video (1992)</a></h5>
          <a class="btn btn-primary" href="/items/cnr063.html" role="button">View Video &raquo;</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><a href="/items/cnr064.html" target="_blank">CNR Blues: A Student-Made Blues Song about CNR</a></h5>
          <a class="btn btn-primary" href="/items/cnr064.html" role="button">Listen to Song &raquo;</a>
        </div>
    </div>
</div>