---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Items from the Collection" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include feature/audio.html objectid="cnr064" width="50" caption="CNR Blues: A student-made song about the College of Natural Resources" %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

  </div>

  <div class="col-md-12">

    {% include feature/timelinejs.html %}
    
  </div>

</div>